extends ../../templates/slide

block headline
  include _title.jade

block content
  .content__chapter.
   (Living) Style Guide

block notes
  div.
    So a Style Guide is this type of tool that. Please remember this Sten and Olli thing.
    You can use Atomic Design without a Style Guide and the other way round
    but it makes much more sense to use them in combination.