extends ../../templates/slide

block headline
  include _title.jade

block content
  | What is a (Living) Style Guide?
  br
  br
  ul
    li.fragment a documentation of the Atomic Design inventory
      .fragment which lives in the browser
    li.fragment technically it is a website, but separate from the production website
    li.fragment can be seen as a prototyping and testing tool

block notes

  div.
    At this point I want to address briefly that the term Style Guide is a bit
    difficult to use here. Because I don't mean tools like Frontify.

