extends ../../templates/slide

block headline
  include _title.jade

block content
  | Are there any ready to use tools?
  br
  br
  .fragment patternlab-node (Horizn-Studios)
  .fragment KSS Node (PETS DELI)
  br
  .fragment in total #[strong 86] solutions on #[a(href="http://styleguides.io/tools.html") styleguides.io]

block notes

  div.

