extends ../../templates/slide

block headline
  include _title.jade

block content
  | Are there any ready to use tools?
  br
  br
  .fragment patternlab-node (Horizn-Studios)
  .fragment KSS Node (PETS DELI)
  br
  .fragment in total #[strong 86] solutions on #[a(href="http://styleguides.io/tools.html") styleguides.io]

block notes

  div.
    Are there any ready to use tools? For sure!
    #[br]
    #[br]
    We already use patternlab-node and KSS Node with some benefit.
    #[br]
    If you want to get an overview about what is already out there. I recommend having a look at
    styleguides.io it is another project of Brad Frost. There you can find lots of resources.

