extends ../../templates/slide

block headline
  include _title.jade

block content
  small css-tricks.com: Where Style Guides Fit Into Process
  .image-block
    .image-block__title The Sidelines
    .image-block__image
      img(src="img/sidelines-1024x587.png")
  .image-block
    .image-block__title The Hippie Colony
    .image-block__image
      img(src="img/colony.png")
  .image-block
    .image-block__title The Dictator
    .image-block__image
      img(src="img/dictator2-1024x402.png")
  .image-block
    .image-block__title The Exhaust
    .image-block__image
      img(src="img/exhaust-1024x402.png")

block notes

  div.

