extends ../../templates/slide

block headline
  include _title.jade

block content
  | Are there any pain points?
  br
  br
  ul
    li.fragment hard to find a flexible style guide tool that is working for large projects
    li.fragment additional effort is needed to sync two code bases
    li.fragment sometimes it is hard to recognise the benefits,#[br]then the whole process feels just slow
    li.fragment often the style guide dies slowly

block notes

  div.
    And of course there are pain points, that are questioning the whole thing.
    #[br]
    #[br]
    To solve them, it is necessary to go one step further.
