extends ../../templates/slide

block headline
  include _title.jade

block content
  ul
    li flexible
    li reliable
    li robust
    li consistent
    li performant

block notes

  div.
    When we started thinking about the Junomedical frontend, it was pretty clear that we would need a flexible system in order to help us
    changing directions quickly. That this will happen was very likely. I mean almost nothing had been defined at that state.
    There were only some rough design proposals. There was no back end and it was unclear, when it would be possible to serve the first pages.
    #[br]#[br]

