extends ../../templates/slide

block headline
  include _title.jade

block content
  ol
    li new venture
    li.fragment new team
    li.fragment new Python based software stack
    li.fragment no brand
    li.fragment no design
    li.fragment hard deadline
      span.fragment, within less than 6 weeks

block notes

  div.

