extends ../../templates/slide

block headline
  include _title.jade

block content
  .content__chapter.
    Atomic Design

block notes
  div.
    If we talk about Atomic Design. We have to mention one person.
    This is Brad Frost. He is from Pittsburgh, PA.
