extends ../../templates/slide

block headline
  include _title.jade

block content
  img(src="img/brad_frost.jpg", width="400")
  br
  | Brad Frost

block notes

  div.
    If we want to talk about Atomic Design. We have to mention this guy. This is Brad Frost, a really smart guy from Pittsburgh.
    He invented the concept in 2013 in result of the difficulties he was facing with the new web.
    Some of you might had heard his talk at "Beyond Tellerrand" last November. Because of that I don't want to explain the whole
    concept at that point. He does it much better than I could. But I think it makes sense to show some
    practical examples to explain the main concept briefly. So what does Atomic Design mean.
