extends ../../templates/slide

block headline
  include _title.jade

block content
  br
  img(src="img/01-650x487.png", width="300")
  img.fragment(src="img/02-650x487.png", width="300")
  img.fragment(src="img/03-650x487.png", width="300")

block notes

  div.
    Atomic Design is an answer to the question, how to face the demands and
    complexity that is going hand in hand with today's web.
    #[br]
    #[br]
    This is pretty self explaining, right?

