extends ../../templates/slide

block headline
  include _title.jade

block content
  | What makes it so difficult to handle?
  br
  br
  .fragment
    img(src="img/bd-jm-searchresults.png", height="320")
    img(src="img/d-jm-searchresults.png", height="320")
    img(src="img/t-jm-searchresults.png", height="320")
    img(src="img/s-jm-searchresults.png", height="320")
  small.fragment Property changes based on media queries?
  br
  small.fragment Footer = 9
  small.fragment &nbsp;/&nbsp;Header = 17

block notes

  div.

