extends ../../templates/slide

block headline
  include _title.jade

block content
  | What makes it so difficult to handle?
  br
  br
  .fragment
    div
      small.fragment Header - 17 property changes based on media queries
    img(src="img/bd-navigation.png", height="100")
    img(src="img/d-navigation.png", height="100")
    img(src="img/t-navigation.png", height="100")
    img(src="img/s-navigation.png", height="100")

  .fragment
    div
      small.fragment Footer - 9 property changes based on media queries
    img(src="img/bigdesktop-footer.png", height="113")
    img(src="img/desktop-footer.png", height="113")
    img(src="img/tablet-footer.png", height="113")
    img(src="img/smartphone-footer.png", height="113")
block notes

  div.

