extends ../../templates/slide

block headline
  include _title.jade

block content
  | Let's break this page  into manageable chunks.
  br
  br
  img(src="img/collage-0.png", height="420")
  | &nbsp;&nbsp;
  img.fragment(src="img/collage-1.png", height="420")

block notes

  div.
    This is the design proposal of the clinic detail page.
    Let's break it into pieces.
    #[br]
    #[br]
    We could slice it like this.
    #[br]
    #[br]
    Or perhaps better this way.

