extends ../../templates/slide

block headline
  include _title.jade

block content
  | Let's break this page into manageable chunks.
  br
  br
  img(src="img/collage-0.png", height="420")
  | &nbsp;&nbsp;
  img(src="img/collage-3.png", height="420")

block notes

  div.
    Everybody will do it differently, because auf his perspective on the page
    and his day's form as well.
