extends ../../templates/slide

block headline
  include _title.jade

block content
  | Some rules would help.
  br
  br
  .fragment
    img(src="img/atomic_design.png")

block notes

  div.
    So, if we put it in a nutshell this is what Atomic Design is all about. It is a
    methodology how to define manageable bricks to build your web pages. Everything else
    which goes together with the concept is a result of that.
    #[br]
    #[br]
    But we are not done yet. If we break everything into pieces to look at them more independently
    we created new difficulties. I show you an example.

