extends ../../templates/slide

block headline
  include _title.jade

block content
  | Some rules would help.
  br
  br
  .fragment
    img(src="img/atomic_design.png")

block notes

  div.
    The main idea behind this concept is
    to stop looking at websites as pages. Instead in Atomic Design you are
    focusing on smaller units that can be combined in many different ways. This simple shift
    of perspective changes the whole process of creating websites. And from my point of view this is
    essential, when it comes to RWD. I want to show you some examples.

