extends ../../templates/slide

block headline
  include _title.jade

block content
  | Rizzo - Component API by lonelyplanet
  br
  br
  img(src="img/rizzo-output.jpg",width="600")
  br
  img.fragment(src="img/rizzo-git.png",width="600")

block notes

  div.

