extends ../../templates/slide

block headline
  include _title.jade

block content
  .fragment
    small Navigation
    br
    img(src="img/bd-navigation.png", height="100")
    img(src="img/d-navigation.png", height="100")
    img(src="img/t-navigation.png", height="100")
    img(src="img/s-navigation.png", height="100")
  .fragment
    small Footer
    br
    img(src="img/bigdesktop-footer.png", height="113")
    img(src="img/desktop-footer.png", height="113")
    img(src="img/tablet-footer.png", height="113")
    img(src="img/smartphone-footer.png", height="113")

block notes

  div.

