extends ../../templates/slide

block headline

block content
  .content__chapter.
    Thank you!

  br
  br

  .content__links
    strong Links
    br
    a(href="https://linkedin.com/in/stlehmann") https://linkedin.com/in/stlehmann
    br
    a(href="https://junomedical.com/static/styleguide") https://junomedical.com/static/styleguide
    br
    a(href="http://atomicdesign.bradfrost.com") http://atomicdesign.bradfrost.com
    br
    a(href="http://styleguides.io") http://styleguides.io
    br
    a(href="https://css-tricks.com/where-style-guides-fit-into-process") https://css-tricks.com/where-style-guides-fit-into-process
    br
    a(href="http://engineering.lonelyplanet.com/2014/05/18/a-maintainable-styleguide.html") http://engineering.lonelyplanet.com/2014/05/18/a-maintainable-styleguide.html
    br
    a(href="http://rizzo.lonelyplanet.com") http://rizzo.lonelyplanet.com
