extends ../../templates/slide

block headline
  include _title.jade

block content
  .content__chapter.
    "Proof of Concept"
  br
  br
  br
  .fragment The Junomedical Front-End

block notes
  div.
