extends ../../templates/slide

block headline
  include _title.jade

block content
  | Image task example
  br
  br
  pre(title="gulpfile.js")
    code.js.
      require('gulp-tasks/tasks/image')('images', {
        source: 'tnt/web/frontend/patterns/**/*.{png,jpg,gif,svg,ico}',
        dest: 'static/images',
        svgoPlugins: [
          {removeDimensions: true},
          ...
        ],
        reCompress: true,
        flatten: true,
        hook: function() {}
      });

block notes

  div.

