extends ../../templates/slide

block headline
  include _title.jade

block content
  img(src="img/styleguide-repo.png",width="800")

block notes

  div.
    The Style-Guide-Tool is a node module too, It can be used with the gulp-task
    module or separate. To keep it as flexible as possible it is just taking care of
    the template rendering, the viewerApp, which is needed to select the elements you
    want to view in the browser. And Browser-Sync as server for development. That is it.
    Everything else CSS and Javascript processing, asset handling is not part of this module.

