extends ../../templates/slide

block headline
  include _title.jade

block content
  | Style Guide - Template Engine config
  br
  pre(title="gulpfile.js")
    code.js.
      require('gulp-tasks/tasks/styleguide')('styleguide', {
        patterns: {
          sourcePath: 'tnt/web/frontend/patterns',
          sourceExt: 'j2',
          targetExt: 'html',
          dataExt: 'json',
          //mockFunctionsFile: './mockFunctions.js',
          globalsDataFile: './globals.json',
          engine: {
            name: 'jinja2',
            pathToPyScript: 'render_jinja2.py',
            port: argv.jinja2_port || 5056,
            debug: 'stderr'
          }
        },
        ...
      });

block notes

  div.

