extends ../../templates/slide

block headline
  include _title.jade

block content
  | Style Guide - Viewer-App config
  br
  pre(title="gulpfile.js")
    code.js.
      require('gulp-tasks/tasks/styleguide')('styleguide', {
        ...,
        viewerApp: {
          dest: 'static/styleguide',
          cssFiles: [
            './css/patterns.css',
            '../css/main.css',
            '../css/fonts.css',
            './css/overrides.css'
          ],
          jsFiles: ['../js/styleguide.bundle.js']
        },
        ...
      });

block notes

  div.

