extends ../../templates/slide

block headline
  include _title.jade

block content
  | Style Guide - Browser-Sync config
  br
  pre(title="gulpfile.js")
    code.js.
      require('gulp-tasks/tasks/styleguide')('styleguide', {
        ...,
        server: {
          https: true,
          port: 9000,
          open: false,
          urlRewriteRules: {
            '^/static/': '/',
            '^/api/([^\?]+)(.*)': '/mock-endpoints/$1.json$2'
          }
      });

block notes

  div.

