extends ../../templates/slide

block headline
  include _title.jade

block content

  pre(title="jinja2")
    code.twig.
      // build in include statement
      {% include '/00-atoms/06-buttons/00-button/button.j2' %}
      {% include '/02-organisms/06-blocks/00-hero/hero.j2' %}

  pre.fragment(title="jinja2")
    code.twig.
      // simplified include statement
      {% include 'atoms-button' %}
      {% include 'organisms-hero' %}

block notes

  div.

