extends ../../templates/slide

block headline
  include _title.jade

block content

  pre(title="tile.json")
    code.json.
      {
        "tile": {
          "title": "Aliquam tristique",
          "sub_title": "Pellentesque rhoncus",
          "footer": "{% include 'molecules-link-row'.link_row %}",
          "image": "{% include 'atom-image'.image %}",
          "href" : "#"
        }
      }

  pre(title="tiles-grid.json")
    code.json.
      {
        "headline": "The Header",
        "description": "<p>Lorem ipsum dolor sit ...</p>",
        "tiles": [
          "{% include 'molecules-tile'.tile %}",
          "{% include 'molecules-tile'.tile %}",
          ...
        ]
      }

block notes

  div.

