extends ../../templates/slide

block headline
  include _title.jade

block content

  | This system has been set up
  br
  | in parallel with the Juno front-end
  br
  | in less than 6 weeks.
  br
  br
  .fragment Never the less there is plenty
    br
    | room for improvements.

block notes

  div.

