extends ../../templates/slide

block headline
  include _title.jade

block content
  img(src="img/gulp-tasks-repo.png",width="800")

block notes

  div.
    When you use gulp you have do define all tasks by you self. This provides of freedom to
    arrange everything the way you need. And that is something I really like about gulp. This
    also means that you often find yourself struggling with the initial setup. For such moments
    in the very beginning of a project, Jonathan created the project-A/frontend/starter-Kit. It was
    already pretty cool, but I had an even more modular approach in mind. I forked the Starter-Kit
    and made it a node module. This means it is now possible to update it very easily and to pick
    the tasks you need from that library. If some wants to participate, feel free to approach me at any time.


