extends ../../templates/slide

block headline
  include _title.jade

block content
  | Name what is already there
  br
  br
  img(src="img/ClinicCompass-wireframe_Blog.jpg", height="320")
  img(src="img/ClinicCompass-wireframe_Bolg Article.jpg", height="320")

block notes

  div.
    Naming things is the first step of understanding it. It enables you
    collaborate with others, to share your thoughts and so on.
    #[br]
    #[br]
    The impact of bad and good naming is commonly underestimated. Try to
    remember a situation where a bad naming caused lot's of unnecessary trouble.
    Or when it became to hard to change names, so you had to deal with it.



