extends ../../templates/slide

block headline
  include _title.jade

block content
  | Avoid bottle necks in advance
  br
  br
  ol
    li.fragment automate processes beforehand
    li.fragment decouple front-end and #[br] back-end development
    li.fragment modularize to reduce complexity
      span.fragment, #[br] but with care

block notes

  div.
    Which is...


