extends ../../templates/slide

block headline
  include _title.jade

block content
  | Style Guide Driven Development

block notes

  div.
    Style Guide Driven Development is based on Style Guides, which is no surprise.
    #[br]
    Style Guides are highly related to Atomic Design. It's like Stan and Olli, Tom and Jerry or
    for some of you maybe Dr. Jeckhill and Mister Hide. No matter how you think
    of them, one is just working with the other.


