extends ../../templates/slide

block headline
  include _title.jade

block content


block notes

  div.
    Today I want to give some deeper insights into the Junomedical front end. I am going to speak about our approach, difficulties that
    we were facing before and after the launch and how we solved them. To give you a better understanding why we had chosen that way, I
    will speak about Atomic Design and what makes it so difficult to bring that brilliant concept into the real world. And finally I want to
    say some words about the impact to our collaboration.




