extends ../../templates/slide

block headline
  include _title.jade

block content
  img(src="img/stefan.jpg", class="avatar")
  small
    strong Stefan Lehmann
    br
    br
    | Senior Frontend Engineer at ProjectA

block notes

  div.
    But before that I want to introduce myself. I am Stefan Lehmann
    Senior Frontend Engineer at ProjectA currently working on Junomedical.
    #[br]
    #[br]
    That's me. And I hope this is the way most people see me.




