extends ../../templates/slide

block headline
  include _title.jade

block content
  img(src="img/gobo.png", class="avatar")
  small
    strong Stefan Lehmann
    br
    br
    | Senior Frontend Engineer at ProjectA

block notes
  div.
    And this is how I see myself most of the time.





