extends ../../templates/slide

block headline

block content
  .content__chapter
    | Front-End Development
    br
    | at Junomedical
  br
  br
  br
  | Insights in our Atomic Design System

block notes

  div.
    Hi everybody. First I like to thank you for your coming. Today we are going to talk about
    Junomedical on of the newer ventures of ProjectA. And in particular I want to give you some
    insights into the front-end development.




